
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
    font-size: 3em;
    text-align: center;
}


/*========== HEADER AND NAVBAR =============*/
header {
    min-height: 20px;
    background-color: lightblue;
}

nav {
    height: 10vh;
    background: lightblue<
    position: relative;
}

ul, p {
    margin: 0;
    padding: 0;
}
.nav-links {
    display: flex;
    list-style: none;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.page-container {
    display: flex;
    align-items: center;
}

.author-info {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 25px;
}

.author-photo {
    width: 200px;
    border-radius: 50%;
}
.posts-section {
    width: 70%;
}
.latest-posts {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-post {
    margin: 20px;
}

.blog-post {
    width: 45%;
}
/*=========== TITLE ============*/
.title {
    background-image: url(images/background3.jpg);
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    color: white;
    background-color: black;
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    /*hamburder menu*/
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }

    .hamburger {
        position: absolute; 
        cursor: pointer;
        right: 5%;
        top: 2%;
        z-index: 10;
    }
    .nav-links {
        position: fixed;
        background: lightblue;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }
    /*main section*/
    .page-container {
        flex-direction: column;
    }
    .author-info {
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }
    .author-photo {
        width: 150px;
    }
    .posts-section {
        width: 100%;
        flex-direction: column;
    }
    .blog-post {
        width: 100%;
        margin: 20px 0 20px 0;
    }
}