
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 3em;
    text-align: center;
    font-family: 'roboto slab';
    color: #f5f5f5;
}

h2 {
    margin: 25px;
    font-size: 2.5em;
    font-family: 'roboto slab';
    text-align: center;
}

.author-photo {
    width: 250px;
    border-radius: 50%;
}

.backhome, .backhome a, .backhome a:visited {
    padding: 15px; 
    color: black; 
    text-decoration: none;
}

.alert {
    border: red solid 2px;
}

/*========== HEADER AND NAVBAR =============*/
header {
    min-height: 20px;
    background-color: lightblue;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.logo {
    padding: 10px;
    font-size: 25px;
    color: white;
}
nav {
    height: 10vh;
    background: lightblue;
    position: relative;
}

p, label, li, a{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}


.nav-links {
    display: flex;
    list-style: none;
    font-family: roboto, sans-serif;
    height: 100%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}


/*main page section*/
.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 50%;
    min-height: 300px;
   
}

.full-container {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*=========== DASHBOARD ========*/

/*dashboard article button hover annimation*/
.dashboard-article {
    position: relative;
    margin: auto;
    width: 320px;
    height: 90px;
    
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.0);
    transition: background 0.5s ease;
}
.dashboard-article:hover .overlay {
    display: block;
}

.dashboard-article:hover .dashboard-buttons {
    opacity: 1;
}
.dashboard-article:hover .dash-title {
    top: 10px;
}
.dash-title {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 40px;
    transition: top .5s ease;
}
.dashboard-buttons {
    opacity: 0;
    z-index: 10;
    transition: opacity .35s ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: 100%;
    text-align: center;
}

/*rest of code*/
.newbutton {
    display: inline-block;
    padding: 0.35em 1.2em;
    color: #120B1E;
    font-family: roboto;
    border: 0.16em solid #120B1E;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 10;
}

a.newbutton:hover, .newbutton:hover {
    color: #ffffff;
    background-color: #120B1E;
}

/*=========== TITLE ============*/
.title {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ), url("../images/titleimage.jpg");
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    color: white;
    background-color: black;
    width: 100%;
    
}
/*admin login page*/
.admin-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 90vh;
}

.login {
    margin: 20px;
}

button, .button {
    padding: 6px;
    border: none; 
    background-color: lightblue;
    cursor: pointer;
    border-radius: 6px;
    border-bottom: rgb(91, 91, 145) solid 2px;
    margin: 3px;
}

button a {
    text-decoration: none;
    color: black;
}

.centered-div {
    text-align: center;
    
}

.editor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*creator editor*/
#default {
    width: 90%;
    min-height: 200px;
    visibility: visible;
}
@media screen and (max-width: 768px) {
    /*hamburder menu*/
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }

    .hamburger {
        position: absolute; 
        cursor: pointer;
        right: 5%;
        top: 20%;
        z-index: 10;
        margin-right: 15px;
    }
    .nav-links {
        position: fixed;
        background: lightblue;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }
    /*main section*/
    .page-container {
        flex-direction: column;
    }
    .author-info {
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }
    .author-photo {
        width: 150px;
    }
    .posts-section {
        width: 100%;
        flex-direction: column;
    }

    .container {
        width: 95%;
    }
    .blog-post {
        width: 100%;
        margin: 20px 0 20px 0;
    }
}